extends layout

block title
    title Студия Ритхис — Главное то, что мы умеем

prepend content
    ul.hot-links
        li.hot-links-item.hot-links-item-left
            a.hot-links-item-link(href="/jobs/") Вакансии
        li.hot-links-item.hot-links-item-right
            a.hot-links-item-link(href="/portfolio/") Портфолио

block content
    .portfolio
        h1.portfolio-title 
            span
                Главное то, что мы умеем
        
        .expertise-content-wrapper

            .expertise-list
                h2.expertise-title 
                    | Серверная
                    br
                    |разработка
                ul
                    - var items = ["JavaScript", "Node.js", "PHP 5.3+", "Symfony2", "Doctrine ORM/ODM/DBAL", "Silex", "Twig", "Composer", "PHPUnit", "Git", "nanoc"]
                    each item in items
                      li= item

            .expertise-list
                h2.exertise-title
                    | Клиентская
                    br
                    |разработка
                ul
                    - var items = ["jQuery", "AngularJS", "Backbone.js", "Socket.IO", "Yeoman", "SASS", "Compass", "LESS", "Bootstrap", "HTML5", "CSS3", "Адаптивный веб-дизайн"]
                    each item in items
                      li= item

            .expertise-list
                h2.exertise-title
                    | Системное
                    br
                    |администрирование
                ul
                    - var items = ["NGINX", "Ubuntu", "KVM", "AWS", "php-fpm"]
                    each item in items
                      li= item

            .expertise-list
                h2.exertise-title Базы данных
                ul
                    - var items = ["MySQL", "MongoDB", "Memcached", "Redis"]
                    each item in items
                      li= item

            .expertise-list
                h2.exertise-title 
                    | Continuous
                    br
                    |Integration и
                    br
                    |Deployment
                ul
                    - var items = ["Travis CI", "capifony", "Phing"]
                    each item in items
                      li= item

            .expertise-list
                h2.exertise-title 
                    | Управление
                    br
                    |проектами
                ul
                    - var items = ["Basecamp", "Kayako Fusion", "GitHub"]
                    each item in items
                      li= item

            .expertise-list
                h2.exertise-title Сертификации
                ul
                    - var items = ["Zend Certified Engineer PHP 5.3"]
                    each item in items
                      li= item
